<ion-view cache-view = "false" view-title="Today at a Glance">
	<ion-content>
	<div>
    <!-- This button will allow the user to set a Goal for the day-->
    <!--  -->
    <div class="item item-divider">
      {{curDate | date:'EEEE, d MMM yyyy'}}
    </div>
      <a ng-click="setGoal()" class="item item-icon-left">
		    <i class="icon ion-android-favorite-outline"></i>
  		    Today's Goal
    		<span class="badge badge-positive">
      		{{goal.data}}
			</span>
  		</a>
  		<a class="item item-icon-left">
			<i class="icon ion-pizza"></i>
    		Calories Consumed Today
    		<span class="badge badge-balanced">
      		{{calories.data}}
			</span>
  		</a>
  		<a ng-click="addBurnt()" class="item item-icon-left">
			<i class="icon ion-android-bicycle"></i>
    		Calories Spent Today
    		<span class="badge badge-assertive">
      		{{burnt.data}}
			</span>
  		</a>
  	</div>
 <div class="item item-divider item-icon-right">
    Today's Meals and Snacks         
  </div>
    <ion-item ng-repeat="food in foodSet.foods">
      {{food.servings}} servings<br/>
      {{food.name}}<br/>
      {{food.calories}} calories per {{food.measure}}<br/>
      {{food.calories * food.servings}} total calories

    </ion-item> 
	</ion-content>
</ion-view>