
<ion-tabs class="tabs-icon-top tabs-dark">

	<ion-tab title="Dash" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/cal/dash">
		<ion-nav-view name="cal-dash"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Lookup" icon-off="ion-search" icon-on="ion-search" href="#/cal/lookup">
    	<ion-nav-view name="lookup"></ion-nav-view>
	</ion-tab>

	<ion-tab title="History" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" href="#/cal/history">
    	<ion-nav-view name="history"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Favorite Meals" icon-off="ion-star" icon-on="ion-star" href="#/cal/favs">
    	<ion-nav-view name="favs"></ion-nav-view>
	</ion-tab>
</ion-tabs>
